<h2>Reenviar instrucciones de confirmación</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

<div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.email_field :email, autofocus: true , class: "form-control" %>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit "Reenviar instrucciones de confirmación", class: "btn btn-primary" %>
    </div>
</div>

<% end %>

<%= render "users/shared/links" %>