<%= form_for(@ballot) do |f| %>
  <% if @ballot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ballot.errors.count, "error") %> prohibited this ballot from being saved:</h2>

      <ul>
      <% @ballot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :selection_process_id %><br>
    <%= f.text_field :selection_process_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :candidate_id %><br>
    <%= f.text_field :candidate_id %>
  </div>
  <div class="field">
    <%= f.label :digital_signature %><br>
    <%= f.text_field :digital_signature %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
