
<div>
<% unless @current_user.nil? || @current_user.organizer.nil? %>
  <div class="list-group"> <!--De los procesos.-->
    <p class="list-group-item"><b>Mis Procesos</b></p>
      <% @selection_processes = @current_user.organizer.selection_process unless @current_user.organizer.nil? %>
      <%= render partial: "selection_processes/menu_selection_process_items", object: @selection_processes %> 
   </div>
<% end %>

<% unless user_session.nil? || user_session[:selection_processes_id].nil?  %>
 <% if @selection_process  %>
  <div class="list-group"> <!--Por proceso-->
    <p class="list-group-item"><b>Proceso seleccionado:</b> <%= @selection_process.name_process %></p>
      <%= render partial: "selection_processes/menu_selected_process", object: @selection_process %> 
   </div>

  <div class="list-group"><!--Categorias-->
    <%= render partial: "categories/menu_categorias_proceso", object: @selection_process %> 
  </div>

  <div class="list-group"><!--Candidatos-->
    <%= render partial: "candidates/menu_candidates_category", object: @category %> 
  </div>
 <% end %>
 <!--Usuario Organizer!-->
  <% unless user_session.nil? || user_session[:organizer_id].nil?  %>
  <div class="list-group">
        <p class="list-group-item active"><b>Organización</b></p>
        <%= link_to ' Mostrar Organización',  user_organizer_path(@current_user, user_session[:organizer_id]), :class => 'btn btn-default btn glyphicon glyphicon-star list-group-item' %>
        <%= link_to ' Modificar Organización',  edit_user_organizer_path(@current_user, user_session[:organizer_id]), :class => 'btn btn-default btn glyphicon glyphicon-pencil list-group-item' %>
        <%= link_to ' Nuevo proceso de selección', new_organizer_selection_process_path(@current_user.id, user_session[:organizer_id]), :class => 'btn btn-default btn glyphicon glyphicon-plus-sign list-group-item' %>
  </div> 
  <% end %>
<% end %>

<!--Usuario-->
<% if user_signed_in?  %>
 <div class="list-group">
  <div class="list-group">
    <a class="active list-group-item"><b>Usuario</b></a>
    <div>
      <%= link_to ' Mi Perfil',  user_path(current_user), :class => "btn btn-default btn glyphicon glyphicon-user list-group-item" if current_user.id   %>
      <%= link_to " Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'btn btn-default btn glyphicon glyphicon-log-out list-group-item'  %>
    </div>
  </div>
   </div>
<% end %>

</div>


