<h2>Bienvenido a VOX</h2>
esta es una pagina home estatica temporal, hasta que se convierta en dinamica.

<div class="table-responsive">
  <table id="selection-processes-list" class="table table-striped">
  <thead>
    <tr>
      <th>Usuario Admin.</th>
    </tr>
  </thead>

  <tbody >
      <tr>
        <td><%= link_to 'Procesos de Selección', selection_processes_path, :class => 'btn btn-default' %></td>
      </tr>
      <tr>
        <td><%= link_to 'Organizaciones', organizers_path, :class => 'btn btn-default' %></td>
        <td><%= link_to 'Registrar Organización', new_organizer_path, :class => 'btn btn-default' %>
      </tr>
      <tr>
        <td><%= link_to 'Usuarios', users_path, :class => 'btn btn-default' %>
        <td><%= link_to 'Registrar Usuario', new_user_path, :class => 'btn btn-default' %>
      </tr>

  </tbody>
  </table>
</div>
<br>
<br>
<div class="table-responsive">
  <table id="selection-processes-list" class="table table-striped">
  <thead>
    <tr>
      <th>Usuario registrado</th>
    </tr>
  </thead>

  <tbody >
      <tr>
        <td><p class = 'btn btn-default'>Mis procesos</td>
      </tr>
      <tr>
        <td><p class = 'btn btn-default'>Mi Empresa</td>
      </tr>
      <tr>
        <td><p class = 'btn btn-default'>Mi perfil</td>
      </tr>

  </tbody>
  </table>
</div>

