<h2>Bienvenido a VOX</h2>
esta es una pagina home estatica temporal, hasta que se convierta en dinamica.

<div class="table-responsive">
  <table id="selection-processes-list" class="table table-striped">
  <thead>
    <tr>
      <th>Usuario Admin.</th>
    </tr>
  </thead>

  <tbody >
      <tr>
        <td>  <%= link_to ' Candidatos', candidates_path, :class => 'btn btn-link btn glyphicon glyphicon-list' %></td>
        <td><%= link_to ' Agregar Candidato', new_candidate_path, :class => 'btn btn-default btn glyphicon glyphicon-plus-sign' %>
      </tr>
      <tr>
        <td>  <%= link_to ' Categorias', categories_path, :class => 'btn btn-link btn glyphicon glyphicon-list' %></td>
        <td><%= link_to ' Agregar Categoria', new_category_path, :class => 'btn btn-default btn glyphicon glyphicon-plus-sign' %>
      </tr>

      <tr>
        <td><%= link_to ' Procesos de Selección', selection_processes_path, :class => 'btn btn-default btn glyphicon glyphicon-star' %></td>
        <td><%= link_to ' Agregar Procesos de Selección', new_selection_process_path, :class => 'btn btn-default btn glyphicon glyphicon-plus-sign' %>
      </tr>
      <tr>
        <td><%= link_to ' Organizaciones', organizers_path, :class => 'btn btn-default btn glyphicon glyphicon-list-alt' %></td>
        <td><%= link_to ' Registrar Organización', new_organizer_path, :class => 'btn btn-default btn glyphicon glyphicon-plus-sign' %>
      </tr>
      <tr>
        <td><%= link_to ' Usuarios', users_path, :class => 'btn btn-default btn glyphicon glyphicon-user' %>
        <td><%= link_to ' Registrar Usuario', new_user_path, :class => 'btn btn-default btn glyphicon glyphicon-plus-sign' %>
      </tr>

  </tbody>
  </table>
</div>
<br>
<hr>
<br>
<div class="table-responsive">
  <table id="selection-processes-list" class="table table-striped">
  <thead>
    <tr>
      <th>Usuario Organizador</th>
    </tr>
  </thead>

  <tbody >
      <tr>
        <td><p class = 'btn btn-default btn glyphicon glyphicon-film'> Mis procesos</td>
      </tr>
      <tr>
        <td><%= link_to ' Modificar Organización',  edit_user_organizer_path(1,1), :class => 'btn btn-default btn glyphicon glyphicon-pencil' %>
      </tr>
      <tr>
        <td><%=   %></td>        
      </tr>
      <tr>
      
        <td><%= link_to ' Mi Perfil',  edit_user_path(1), :class => 'btn btn-default btn glyphicon glyphicon-user' %>
      </tr>
            <tr>
        <td><%= link_to ' Iniciar sesión', '/', :class => 'btn btn-default btn glyphicon glyphicon-log-in' %>
      </tr>

  </tbody>
  </table>
</div>