<% unless @current_user.nil? %>
<div class="jumbotron">
  <h2>Bienvenido</h2>
  <h1><%= @current_user.nombre unless @current_user.nombre.nil? %>, <%= @current_user.apellido unless @current_user.nombre.nil?  %></h1>
  <p>esta es una pagina que verian los usarios registrado, es un diseño temporal hasta tener un diseño definitivo..</p>
</div>

<hr>
<br>
<div class="table-responsive">
  <table id="user-option-list" class="table table-striped">
  <thead>
    <tr>
      <th>Usuario Organizador</th>
    </tr>
  </thead>

  <tbody >
   <% unless @current_user.organizer.nil? #&& !@current_user.organizer[0].nil?  %>
      <tr>    
        <% unless @current_user.organizer.selection_process.empty? %>
          <td><%= link_to ' Mis Categorías', selection_process_categories_path( @current_user.organizer.selection_process[0]), :class => 'btn btn-default btn glyphicon glyphicon-film' %></td>
          <td><%= link_to ' Agregar Categoría', new_selection_process_category_path(@current_user.organizer.selection_process[0]), :class => 'btn btn-default btn glyphicon glyphicon-plus-sign' %>
          </td>
        <% end %>
      </tr>   
      <tr>
        <td><%= link_to ' Mis procesos', organizer_selection_processes_path(@current_user.organizer), :class => 'btn btn-default btn glyphicon glyphicon-film' %></td>
        <td><%= link_to ' Nuevo proceso de selección', new_organizer_selection_process_path(@current_user.organizer.id), :class => 'btn btn-default btn glyphicon glyphicon-plus-sign' %>
        </td>                                                            
      </tr>  

   <% end %>

   <% unless @current_user.organizer.nil? %>    
    <tr>
      <td><%= link_to ' Mi Organización',  user_organizer_path(@current_user, @current_user.organizer), :class => 'btn btn-default btn glyphicon glyphicon-info-sign' if @current_user.organizer %>
        <td><%= link_to ' Modificar mi Organización',  edit_user_organizer_path(@current_user, @current_user.organizer), :class => 'btn btn-default btn glyphicon glyphicon-pencil' if @current_user.organizer %>
      </tr>
    <% else %>
      <tr>
        <td><%= link_to ' Crear Organización',  new_user_organizer_path(@current_user), :class => 'btn btn-default btn glyphicon glyphicon-pencil' %>
        <span class="help-block">Para poder crear procesos de selección (premios, certámenes, etc.) primero debes crear una Organización que será quien lo organice.</span>
      </tr>
	  <% end %>

    <tr> 
      <td><%= link_to ' Mi Perfil',  user_path(@current_user.id), :class => 'btn btn-default btn glyphicon glyphicon-user' %>     
      <td><%= link_to ' Editar Perfil',  edit_user_registration_path(@current_user.id), :class => 'btn btn-default btn glyphicon glyphicon-user' %>
    </tr>
    
    <tr>
       <td><%= link_to " Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'btn btn-default btn glyphicon glyphicon-log-out list-group-item'  %> 
    </tr>
  </tbody>
  </table>
</div>

<% end %>

