<h1>Lista de procesos de selección</h1>

<div class="table-responsive">
  <table id="selection-processes-list" class="table table-striped">
  <thead>
    <tr>
      <th>Nombre del Proceso</th>
      <th>Lugar</th>
      <th>Duración</th>
      <th>Fecha Inicio</th>
      <th>Fecha Cierre</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody >
    <% if @selection_process.length == 0 %>
      <tr>
        <td><h2>Ud. no tiene procesos de selección.</h2></td>
      </tr>
      <tr>
        <td>Cuando los haya creado se listarán aquí.</td>
      </tr>
    <% end %>
    <% @selection_process.each do |selection_processes| %>
      <tr>
        <td><%= selection_processes.name_process %></td>
        <td><%= selection_processes.place %></td>
        <td><%= selection_processes.duration %></td>
        <td><%= selection_processes.start_date %></td>
        <td><%= selection_processes.end_date %></td>
        <td><%= selection_processes.process_type_id %></td>
        <td><%= selection_processes.state %></td>
        <td><%= link_to 'Mostrar', selection_processes, :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Editar', edit_selection_processes_path(selection_processes), :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Borrar', selection_processes, :class => 'btn btn-danger btn-xs', :method => :delete, data: { confirm: "Esta seguro que desea borrar este proceso: #{selection_processes.name_process}?"} %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
<br>

<%= link_to 'Nuevo proceso de selección', new_selection_processes_path, :class => 'btn btn-primary' %>
