<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre del Proceso:</strong>
  <%= @selection_processes.name_process %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @selection_processes.place %>
</p>

<p>
  <strong>Duración:</strong>
  <%= @selection_processes.duration %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @selection_processes.start_date %>
</p>

<p>
  <strong>Fecha cierre:</strong>
  <%= @selection_processes.end_date %>
</p>
<p>
  <strong>Tipo:</strong>
  <%= @selection_processes.process_type_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @selection_processes.state %>
</p>

<%= link_to 'Editar', edit_selection_processes_path(@selection_processes), :class => 'btn btn-link' %> |
<%= link_to 'Atrás', selection_process_path, :class => 'btn btn-link' %>
