<div>
  <%= form_for @organizer, :html => { :class => 'form-horizontal', :role => 'form' }, :multipart => true do |f| %>
    <% if @organizer.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@organizer.errors.count, "error") %> prohibe/en que los datos sean guardados:</h2>
        <ul>
         <% @organizer.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
          <% end %>
        </ul>
     </div>
    <% end %>
   <% if params[:user_id].blank? %>
      <div class="field">
        <%= f.label :user_id, "ID Usuario", class: 'control-label' %><br>
        <%= f.text_field :user_id, class: 'form-control' %>
      </div>
    <% else%>
      <div class="field">
        <%= f.label :user_id, "Del Usuario: ", class: 'control-label' %>
        <%= params[:user_id] %>
        <%= f.hidden_field :user_id, value: params[:user_id] %> 
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, "Nombre de la Organización", class: 'control-label' %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :address, "Dirección", class: 'control-label' %><br>
      <%= f.text_field :address, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :web, "Sitio web", class: 'control-label' %><br>
      <%= f.text_field :web, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :email, "corre electrónico", class: 'control-label' %><br>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :image, "Isologotipo:", class: 'control-label' %><br>
      <span class="help-block">Al subir la imagen declaras que no infriges derechos de autor y que tienes permiso para utilizar la imagen que estas subiendo.</span>
      <%= f.file_field :image , accept: 'image/png,image/gif,image/jpeg' %>
    </div>
      <div><br></div>
  <div class="actions" >
    <%= f.submit 'Guardar cambios', class: 'btn btn-primary' %>
  </div>

  <% end %>
</div>
