<p>
  <strong>Nombre de la Organización:</strong>
  <%= @organizer.name %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @organizer.address %>
</p>

<p>
  <strong>Web:</strong>
  <%= link_to @organizer.web, @organizer.web, :target => "_blank" %>
</p>

<p>
  <strong>e-mail:</strong>

<% mail_to @organizer.email, "My email", cc: "organizer@vox.com",
         subject: "[VOX] Consulta sobre" %>
<%= mail_to @organizer.email %>
</p>

<p>
  <strong>imagen (isologotipo):</strong></p>
<p>
 <%= link_to(image_tag(@organizer.image_path,
        alt: "Logo #{@organizer.id}",
        id: "imgLogo-#{@organizer.id}",
        class: "imgLogo", 
        size: "200x200"), 
        @organizer.image_path) %>
</p>

<%= mail_to "#{@organizer.email}", " Contactar", cc: "contacto@vox.com",
         subject: "VOX: contacto.", :class => 'btn btn-default btn glyphicon glyphicon-pencil' , :role => "button"  %>

<br>
<% if current_user.is_admin? || current_user.is_organizer? %>
<%= link_to 'Editar', edit_organizer_path(@organizer), :class => 'btn btn-default' %> |
<% end %>
<%= link_to 'Atrás', :back, :class => 'btn btn-link btn glyphicon glyphicon-arrow-left' %>

<% if current_user.is_admin? || current_user.is_organizer? %>
  <% if @organizer.user %>
        <h3>Usuario Administrador:</h3>
        <ol class="user">    
           <%= render partial: "usuarios_por_organizacion"  %>
        </ol>
  <% end %>
<% end %>