<div>
<%= form_for @user, :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibe/en que los datos sean guardados:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :usuario, "Nombre de Usuario", class: 'control-label' %><br>
    <%= f.text_field :usuario,  class: "form-control", size: "10", maxlength: "110" , placeholder: "Ingrese el nombre que utilizará para identificarse en el sistema"%>
  </div>
  <div class="form-group">
    <%= f.label :nombre, "Nombre/s", class: 'control-label' %><br>
    <%= f.text_field :nombre,  class: "form-control", size: "10", maxlength: "110", placeholder: "Ingrese su nombre o nombres, para personalizar algunas partes del sistema." %>
  </div>
  <div class="form-group">
    <%= f.label :apellido, "Apellido", class: 'control-label' %><br>
    <%= f.text_field :apellido,  class: "form-control", size: "10", maxlength: "110", placeholder: "Ingrese su apellido/s, para personalizar algunas partes del sistema." %>
  </div>
  <div class="form-group">
    <%= f.label :email, "Dirección de correo electrónico", class: 'control-label' %><br>
    <%= f.text_field :email,  class: "form-control", size: "10", maxlength: "110", placeholder: "Ingrese una dirección de correo electrónico valida, nos comunicaremos con usted por ese medio." %>
  </div>
  <div class="form-group">
    <%= f.label :facebook, "Usuario en Facebook", class: 'control-label' %><br>
    <%= f.text_field :facebook,  class: "form-control", size: "10", maxlength: "110", placeholder: "Ingrese la URL de su perfil de facebook." %>
  </div>
  <div class="form-group">
  <%= f.label :twitter, "Usuario en Twitter", class: 'control-label' %><br>
  <div class="input-group">    
    <span class="input-group-addon">@</span>
    <%= f.text_field :twitter,  class: "form-control", size: "20", maxlength: "15", placeholder: "Ingrese su usuario de twitter, sin el @" %>
  </div>
  </div>

  <div class="form-group">
    <% tipos_usuarios = {'Admin'=> '1', 'Jurado'=> '2', 'Organizador'=> '3'} %>
    <%= f.label :tipo_usuario_id, "Tipo Usuario" , class: 'control-label' %><br>
    <%= f.select :tipo_usuario_id, tipos_usuarios, selected: @user.tipo_usuario_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Guardar cambios', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
