<div class="form-group">
<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibe/en que los datos sean guardados:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario, "Nombre de Usuario", class: 'control-label' %><br>
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <%= f.label :nombre, "Nombre/s", class: 'control-label' %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido, "Apellido", class: 'control-label' %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :email, "Dirección de correo electrónico", class: 'control-label' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :clave, "Clave de acceso", class: 'control-label' %><br>
    <%= f.password_field :clave %>
  </div>
  <div class="field">
    <%= f.label :facebook, "Usuario en Facebook", class: 'control-label' %><br>
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter, "Usuario en Twitter", class: 'control-label' %><br>
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <% tipos_usuarios = {'Admin'=> '1', 'Jurado'=> '2', 'Organizador'=> '3'} %>
    <%= f.label :tipo_usuario_id, "Tipo Usuario" , class: 'control-label' %><br>
    <%= f.select :tipo_usuario_id, tipos_usuarios, selected: @user.tipo_usuario_id, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar cambios', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
