<h1>Lista de Usuarios</h1>

<div class="table-responsive">
  <table id="selection-processes-list" class="table table-striped">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Clave</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Tipo usuario</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.usuario %></td>
        <td><%= user.nombre %></td>
        <td><%= user.apellido %></td>
        <td><%= user.email %></td>
        <td><%= user.clave %></td>
        <td><%= user.facebook %></td>
        <td><%= user.twitter %></td>
        <td><%= user.tipo_usuario_id %></td>
        <td><%= link_to 'Mostrar', user, :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Editar', edit_user_path(user), :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Eliminar', user, :class => 'btn btn-danger btn-xs', :method => :delete, data: { confirm: "Esta seguro que desea borrar este usuario: #{user.usuario}?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<br>

<%= link_to 'Registrar Usuario', new_user_path, :class => 'btn btn-primary' %>