<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @user.usuario %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.apellido %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @user.clave %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @user.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @user.twitter %>
</p>

<p>
  <strong>Tipo usuario:</strong>
  <%= @user.tipo_usuario_id %>
</p>

<%= link_to 'Editar', edit_user_path(@user), :class => 'btn btn-link' %> |
<%= link_to 'Atrás', users_path, :class => 'btn btn-link' %>

<% if @user.organizer.any? %>
      <h3>Organizaciones (<%= @user.organizer.count %>)</h3>
      <ol class="organizer">
        <%= render 'misorganizaciones' %>
      </ol>
<% end %>