<div>
<%= form_for [@selection_process, @selection_process.voter_list.build], :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
  <% if @voter_list.errors.any? %>
    <div id="alert alert-danger">
      <h2><%= pluralize(@voter_list.errors.count, "error") %> prohibe/en que los datos sean guardados:</h2>
      <ul>
      <% @voter_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% unless @selection_process.nil? %>
   <div class="field">Pertenece al proceso:
    <b><%= link_to @selection_process.name_process, selection_process_path(@selection_process) %></b>
    </div>
  <% end %>

  <% unless @selection_process.nil? 
    #Carga la lista a desplegar.
      users = User.where(tipo_usuario_id: 2)
      #users = User.find_by(tipo_usuario_id: 2)
      users_list = {}
      users.each do |user| 
        users_list["#{user.nombre} #{user.apellido}"] = user.id
      end 
      %>
      <% if !users.blank?  %>
         <div class="field">
          <%= f.label :user_id, "Seleccione un usuario: " , class: 'control-label' %><br>
          <%= f.select :user_id, users_list, class: 'form-control' %>
          <%= f.hidden_field :estado, value: 1 %>
         </div>
      <% end %>
    <% end %>

  <div class="actions">
   <%= button_tag ' Agregar Usuario', type: 'submit', :class=>"btn btn-primary btn glyphicon glyphicon-floppy-disk" %>
  </div>
<% end %>
</div>

<hr>

<%= form_tag(controller: "voter_lists", action: "search_voter", method: "get", class: "form-horizontal", role: "form") do |f| %>
  <div class="field">
  <%= label_tag(:email, "Buscar por email:", class: 'control-label') %>
  <%= text_field_tag :email, nil, {class: "form-control", size: "10", maxlength: "110", placeholder: "ingrese el email que identifica al elector y luego presion Buscar."} %>
  <%= submit_tag "Buscar", name: nil, class: "btn btn-default" %>
  </div>
<% end %>