<h1>Lista de Electores</h1>

<div class="table-responsive">
  <table id="voter_list-list" class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>email</th>
      <th>Estado</th>
      <th>Cod. Proceso</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= tabla_sin_registros @voter_list %> 
    <% @voter_list.each do |voter| %>
      <tr>
        <% voter.user_id = 1 if voter.user_id.nil? %>
        <% user = User.find_by_id(voter.user_id) %>
        <td><%= "#{user.nombre} #{user.apellido}" %></td>
        
        <td><%= "#{user.email}" %></td>
        <% 
        case voter.estado
          when 1
            estado = "aprobado"
          when 2
            estado = "pendiente"
          when 3
            estado = "rechazado"
        end
        %>
        <td><%= estado %></td>
       <% unless params[:selection_process_id].nil? %>
        <td><%= link_to ' Eliminar', selection_process_voter_list_path(voter.selection_process_id, voter ), :class => 'btn btn-danger btn-xs btn glyphicon glyphicon-trash active', :method => :delete, data: { confirm: "Esta seguro que desea quitar el elector: #{user.nombre} #{user.apellido} del padrón?"} %></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>
<br>

<% unless params[:selection_process_id].nil? %>
  <%= link_to 'Agregar Elector', "voter_lists/new", :class => 'btn btn-primary btn glyphicon glyphicon-plus'  %>
<% end %>
