<% unless @candidate.nil? %>
<div class="col-sm-6 col-md-4">
        <div class="thumbnail size: 200x200">
           <%= link_to(image_tag(@candidate.image_path,
        alt: "Avatar #{@candidate.id}",
        id: "imgAvatar-#{@candidate.id}",
        class: "thumbnail",
        size: "200x200"), 
        @candidate.image_path) %>
          <div class="caption">
            <h3><%= @candidate.name %></h3>
            <div style="white-space: pre-line; text-align: justify; ">
              <p><%= @candidate.bios %></p>
            </div>
            <p><%= link_to ' Mostrar', category_candidate_path(@candidate.category_id, @candidate), :class => 'btn btn-primary btn glyphicon glyphicon-pencil', :role => "button" %>
            <%= link_to ' Editar', edit_category_candidate_path(@candidate.category_id, @candidate), :class => 'btn btn-default btn glyphicon glyphicon-pencil' , :role => "button" %></p>
          </div>
        </div>
      </div>
<% end %>


