<div>
<%= form_for @candidate, :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
  <% if @candidate.errors.any? %>
    <div id="alert alert-danger">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibe/en que los datos sean guardados:</h2>
      <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% unless @category.nil? %>
   <div class="field">Pertenece al proceso:
    <b><%= link_to @category.selection_process.name_process, selection_process_path(@category.selection_process) %></b>
    <% #= f.hidden_field :selection_process_id, value: @category.selection_process_id #= f.hidden_field :selection_process_id, value: params[:selection_process_id] //cuando creo no entiende este parametro %> 
    </div>
  <% end %>

  <% unless @category.nil? %>
    <div class="field">
      <%= f.label :category_id, "Para la categoría: ", class: 'control-label' %>
      <%= @category.name %>
      <%= f.hidden_field :category_id, value: @category.id %> 
    </div>
  <% else %>
  <div>
    <p> ID Categoria. solo en Back-end del Admin.</p>
  </div>
    <div class="field">
      <%= f.label :category_id, "Cod. Categoría", class: 'control-label' %><br>
      <%= f.text_field :category_id,  class: "form-control", size: "10", placeholder: "Ingrese el cod. de categoría a la que pertenecerá este candidato."  %>
    </div>
    <% if !params[:selection_process_id].nil? %>
    <% 
    process_id = params[:selection_process_id].to_i
    categories = SelectionProcess.find_by_id(process_id).category
    categories_list = {}
    categories.each do |categoria| 
      categories_list["#{categoria.name}"] = categoria.id
    end
    
    %>
      <% if !categories.blank?  %>
       <div class="field">
        <%= f.label :category_id, "O seleccione una categoría: " , class: 'control-label' %><br>
        <%= f.select :category_id, categories_list, class: 'form-control input-lg' %>
       </div>
       <% end %>
    <% end %>



  <% end %>

  <div class="field">
    <%= f.label :name, "Postulante / Nominado", class: 'control-label' %><br>
    <%= f.text_field :name,  class: "form-control", size: "10", maxlength: "110", placeholder: "ingrese el nombre (o una identificación) para el postulante, que verá el público."  %>
  </div>
  <div class="field">
    <%= f.label :bios, "BIOS", class: 'control-label' %><br>
    <%= f.text_area :bios, class: "form-control", :cols => "30", :rows => "10", placeholder: "ingrese una descripción sobre el postulante (candidato, nominado) para que vea el público." %>
  </div>
  <div class="field">
      <%= f.label :avatar_file, "Avatar usuario:", class: 'control-label' %><br>
      <%= f.file_field :avatar_file , accept: 'image/png,image/gif,image/jpeg' %>
  </div>
  <div class="actions">
   <%= button_tag ' Guardar Cambios', type: 'submit', :class=>"btn btn-primary btn glyphicon glyphicon-floppy-disk" %>
  </div>
<% end %>
</div>