<p>
 <%= link_to(image_tag(@candidate.image_path,
        alt: "Avatar #{@candidate.id}",
        id: "imgAvatar-#{@candidate.id}",
        class: "imgAvatar", 
        size: "200x200"), 
        @candidate.image_path) %>
</p>
<p>
  <strong>Nominado:</strong>
  <%= @candidate.name %>
</p>
<p>
  <strong>bios:</strong>
</p>
<p>
  <%= @candidate.bios %>
</p>
<%= link_to 'Atrás', :back, :class => 'btn btn-link btn glyphicon glyphicon-arrow-left' %>

<% if current_user.is_admin? || @candidate.category.selection_process.is_owner?(current_user.id) %>
<%= link_to ' Editar', edit_candidate_path(@candidate), :class => 'btn btn-link btn glyphicon glyphicon-pencil' %> |
<%= link_to " Ver Categoría", category_path(@candidate.category_id), :class => 'btn btn-link btn glyphicon glyphicon-list' %> |
<%= link_to ' Ir a candidatos', category_candidates_path(@candidate.category_id), :class => 'btn btn-link btn glyphicon glyphicon-list' %>
<% end %>