<p>
  <strong>Nombre y Apellido:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Bios:</strong>
  <%= @candidate.bios %>
</p>

<p>
  <strong>Url Avatar:</strong>
 <%= link_to(image_tag(@candidate.image_path,
        alt: "Avatar #{@candidate.id}",
        id: "imgAvatar-#{@candidate.id}",
        class: "imgAvatar", 
        size: "200x200"), 
        @candidate.image_path) %>
</p>

<%= link_to ' Editar', edit_candidate_path(@candidate), :class => 'btn btn-link btn glyphicon glyphicon-pencil' %> |
<%= link_to ' Ir a candidatos', candidates_path, :class => 'btn btn-link btn glyphicon glyphicon-list' %>