<p>
  <strong>Nombre y Apellido:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Bios:</strong>
  <%= @candidate.bios %>
</p>

<p>
  <strong>Url Avatar:</strong>
  <%= @candidate.url_image %>
</p>
 <%= link_to(image_tag(@candidate.url_image,
        alt: "Logo #{@candidate.id}",
        id: "imgLogo-#{@candidate.id}",
        class: "imgLogo", 
        size: "200x200"), 
        @candidate.url_image) %>
</p>

<%= link_to ' Editar', edit_candidate_path(@candidate), :class => 'btn btn-link btn glyphicon glyphicon-pencil' %> |
<%= link_to ' Ir a candidatos', candidates_path, :class => 'btn btn-link btn glyphicon glyphicon-list' %>