<p>
 <%= link_to(image_tag(@candidate.image_path,
        alt: "Avatar #{@candidate.id}",
        id: "imgAvatar-#{@candidate.id}",
        class: "imgAvatar", 
        size: "200x200"), 
        @candidate.image_path) %>
</p>
<p>
  <strong>Nominado:</strong>
  <%= @candidate.name %>
</p>
<p>
  <strong>bios:</strong>
</p>
<p>
  <%= @candidate.bios %>
</p>
<%= link_to 'Atrás', :back, :class => 'btn btn-link btn glyphicon glyphicon-arrow-left' %>|
<%= link_to ' Editar', edit_candidate_path(@candidate), :class => 'btn btn-link btn glyphicon glyphicon-pencil' %> |
<%= link_to ' Ir a candidatos', candidates_path, :class => 'btn btn-link btn glyphicon glyphicon-list' %>