<% unless @selection_process.nil? %>
  <div>
  <table>
  <tbody>
   <tr>
      <td>
            <h2> <%= @selection_process.name_process %></h2>
            <p>
            <div style="white-space: pre-line; text-align: justify; ">
              <p> Se realiza en <%= @selection_process.place %>.
              Tiene una duracción de <%= @selection_process.duration %> días. Empieza el <%= @selection_process.start_date %> hasta el <%= @selection_process.end_date %>.
              <p> Es organizado por <%= @selection_process.organizer.name %>
              <p> Tipo: <%= @selection_process.type %></p>
			        <p> Estado: <%= @selection_process.state %>              
            </div>
     </td>
         <td>
             <%= link_to(image_tag(@selection_process.organizer.image_path,
                alt: "Avatar #{@selection_process.organizer.id}",
                id: "imgAvatar-#{@selection_process.organizer.id}",
                size: "242x200"), 
                @selection_process.organizer.image_path) %>
      </td>
  </tr>
  
  <tr>
    <td>
      <p><%= link_to ' Más info.', selection_process_path(@selection_process), :class => 'btn btn-info btn glyphicon glyphicon-info-sign', :role => "button" %>
         <%= mail_to "#{@selection_process.organizer.email}", " Contactar", cc: "contacto@vox.com",
         subject: "VOX: #{@selection_process.name_process}. Comentario.", :class => 'btn btn-default btn glyphicon glyphicon-pencil' , :role => "button"  %></td>
  </tr>
  </tbody>
</table>
  </div> 
<% end %>