<h1>Escrutinio</h1>
<div class="well">
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: <%= @porcentaje_avance %>%;">
    <%= @porcentaje_avance %>%
  </div>
</div>
  <p>Votos: <%= @cantidad_votos %> de <%= @total_votos_teorico %> ( <%= @porcentaje_avance %>%)
  <p>Cantidad electores: <%= @cantidad_electores %> | 
  Cantidad categorías: <%= @cantidad_categorias %>
</div>

<br>
<% @recuento_proceso.each do |category, candidates| %>
<hr>
 <% @category = @selection_process.category.find_by_id(category) %>
<h3>Categoría:  <%= @category.name %></h3>
<div class="progress">
  <% if @category.porcentaje_categoria < 100 %>
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= @category.porcentaje_categoria %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @category.porcentaje_categoria %>%">
       <span class="sr-only"><%= @category.porcentaje_categoria %>% Complete</span>
  <% elsif @category.porcentaje_categoria > 100 %>
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= @category.porcentaje_categoria %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @category.porcentaje_categoria %>%">
       <span class="sr-only"><%= @category.porcentaje_categoria %>% Complete</span>
  <% else %>
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @category.porcentaje_categoria %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @category.porcentaje_categoria %>%">
       <span class="sr-only"><%= @category.porcentaje_categoria %>% Complete</span>
  <% end %>
  <%= @category.porcentaje_categoria %>%
     </div><!-- /progress-bar -->
</div>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#<%= @category.id %>">
  Ver más
</button>

<div id="<%= @category.id %>" class="collapse"><!-- collapse -->
 <% candidates = candidates.sort_by {|k,v| v}.reverse %>    
  <% candidates.each_with_index do |candidato, index| %>
    <div>
      <p>Puesto Nro. <strong><%= index + 1 %></strong> | <%= @category.candidate.find_by_id(candidato[0]).name %> |
      Obtuvo <strong><%= candidato[1] %></strong> votos.
    </div>
  <% end %>
   
   <div><!-- Columanas 3D -->
    <% votos_candidate = @category.ballots_candidate %>
    <%= column_chart votos_candidate, height: "500px" %>
    <!-- Pastel 3D -->
   <%= pie_chart votos_candidate, library: {title: "Resultado #{@category.name}", is3D: true, pieSliceText: 'Ganador', slices: {0=>  {:offset =>  0.1},}} %><!-- /Pastel 3D -->
   </div>
  <br>

<h4>Datos para auditoría:</h4>
  <p>Recuento votos categoría: <%= candidates %>
  <p>Votos categoría:<%= @category.ballots.inspect %> 
</div><!-- /collapse -->
<% end %>

<hr>

<br>
<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#AllBallots">
  Ver votos
</button>

<div id="AllBallots" class="collapse"><!-- collapse -->

<p>Recuento votos (en crudo):<br>
A continucación figuran la Categoría, el candidato y los votos recibidos por candidato.
<p><%= @recuento_proceso.inspect  %>

<h4>Datos para auditoría:</h4>
<% @selection_process.category.each do |category| %>
 <div><%= category.ballots.inspect %> </div>
<% end %>
</div><!-- /collapse -->