<!-- Infor Proceso -->
<div>
	<div class="row">
		<%= render partial: "voter/selection_process_public_info", object: @selection_process %>
	</div><!-- /.row -->
</div>
<!-- Categoria -->
<div>
	<%= render partial: "voter/categories_buttons", object: @selection_process %>
</div>
<div>
  <h2>Candidatos a <%= @category.name unless @category.nil? %> </h2>
</div>
<!-- Candidatos categoría seleccionada -->
<%= form_for @ballot,:html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
  <% if @ballot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ballot.errors.count, "error") %> prohibited this ballot from being saved:</h2>

      <ul>
      <% @ballot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :selection_process_id, value: @selection_process.id %> 
<%= f.hidden_field :category_id, value: @category.id unless @category.nil? %> 
<div>
  <div class="row">
<% unless @category.nil? %>
  <% unless @category.already_vote?(current_user.id) %>
  <div>
    <div class="btn-group btn-group-justified">
     <div class="btn-group" data-toggle="buttons"> <!-- Botones como radio -->
	<% @category.candidate.each do |candidate| 
      @candidate = candidate       
	 %>  
	<% unless @candidate.nil? %>
	  <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
           <%= link_to(image_tag(@candidate.image_path,
        	size: "242x200",
        	alt: "Avatar #{@candidate.id}",
        	id: "imgAvatar-#{@candidate.id}",
        	class: "img-responsive"
        	), 
        	category_candidate_path(@candidate.category_id, @candidate)) %>
            <div class="caption">
	            <h3><%= @candidate.name %></h3>
	            <div style="white-space: pre-line; text-align: justify; ">
	              <p><%= @candidate.bios %></p>
	            </div>
	          </div><!-- caption -->            
	           <div > <!-- well -->
              <label class="btn btn-primary btn glyphicon glyphicon-thumbs-up btn btn-justified">
	        	    <%= f.radio_button :candidate_id, "#{candidate.id}", :style=>"display:none;" %>
  					    <%= "#{candidate.name}" %>
                </label>
              </a>
        	   </div><!-- /well -->
      </div><!-- thumbnail --> 
	  </div><!-- col-sm-6 -->
	<% end %><!-- if candidato -->
  <% end %><!-- candidatos x categoria -->
    </div>
  </div><!-- /input-group -->
   <!-- registrar voto -->
<div class="actions">
 <%= f.submit ' Votar seleccionado', data: { confirm: "Esta seguro que desea Votar el candidato seleccionado? NO podrá cambiar su elección una vez precionado el botón Aceptar." }, class: "btn btn-success btn-lg btn glyphicon glyphicon-envelope" %>
</div>


  </div><!-- /.col-lg-6 -->
	<% end %><!-- ya voto en categoria -->

<%  end %><!-- /category -->
  </div><!-- /.row -->
</div>

<% end %>
<hr>
<div class="row">
Comparte: 

<% texto_adicional = "Vos también podes votar en #{@selection_process.name_process} por tu favorito, como yo lo hice." %>

<!--Social Share -->
<!--Facebook -->
<a class="btn btn-default" target="_blank" href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>&t=<%= texto_adicional %>"><img class="img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yQ/r/7GFXgco-uzw.png" alt="" style="top: 0px;" height="14" width="14"> Facebook</a>

<!--Twitter -->
<a class="btn btn-default" href="http://twitter.com/share?url=<%= request.original_url %>&text=<%= texto_adicional %>&via=tfa-vox"><img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_16.png" alt="Share on Twitter" target="_blank"/> Tweet</a>


<!--Google plus -->
<a class="btn btn-default" href="https://plus.google.com/share?url=<%= request.original_url %>" target="_blank"><img src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/> Google Plus</a>

<!--Pinterest -->
<a  class="btn btn-default"
    target="_blank"
    title="Pin It" 
    href="http://www.pinterest.com/pin/create/button/?url=<%= request.original_url %>&description=<%= texto_adicional %>&media=<% @selection_process.organizer.image_path %>"
  ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /> Pinterest</a>    


</div>
