<% unless @selection_process.nil? %>
 <div class="col-sm-6 col-md-4">
        <div class="thumbnail size: 200x200">
           <%= link_to(image_tag(@selection_process.organizer.image_path,
              alt: "Avatar #{@selection_process.organizer.id}",
              id: "imgAvatar-#{@selection_process.organizer.id}",
              class: "thumbnail",
              size: "200x200"), 
              @selection_process.organizer.image_path) %>
          <div class="caption">
            <h3><%= @selection_process.name_process %></h3>
            <div style="white-space: pre-line; text-align: justify; ">
              <p>Se realiza en <%= @selection_process.place %>.
              Tiene una duracción de <%= @selection_process.duration %> días. Empieza el <%= @selection_process.start_date %> hasta el <%= @selection_process.end_date %>.
              <p>Es organizado por <%= @selection_process.organizer.name %>

			        <p>Estado: <%= @selection_process.state %>
              <p>Tipo: <%= @selection_process.type %>
              
              <% @voter_list = @selection_process.voter_list.find_by(user_id: current_user) %></p>
            </div>
        <% if @voter_list %>
            
        <% case @voter_list.estado
          when 1
            estado = "aprobado" %>
           <p><%= link_to ' Votar', selection_process_vote_path(@selection_process, :elector => @voter_list ), :class => 'btn btn-success btn glyphicon glyphicon-check active' %> 
         <%  when 2
            estado = "pendiente" %>
            <p>Resultado admisión: <span class="label label-warning"><%=  estado %></span>
        <%   when 3
            estado = "rechazado" %>
            <p>Resultado  Admisión: <span class="label label-danger"><%=  estado %></span>
        <% end %>
        <% end %>
            <p><%= link_to ' Ver resultados', selection_process_path(@selection_process), :class => 'btn btn-info btn glyphicon glyphicon-info-sign', :role => "button" %>

            <p><%= mail_to "#{@selection_process.organizer.email}", " Contactar", cc: "contacto@vox.com",
         subject: "VOX: #{@selection_process.name_process}. Comentario.", :class => 'btn btn-default btn glyphicon glyphicon-pencil' , :role => "button"  %>
          </div> <!-- caption --> 
     </div> <!-- thumbnail --> 
  </div> <!-- col-sm-6 -->
<% end %>
         

