<p>
  <strong>Nombre del Proceso: </strong><h2><%= @selection_process.name_process %></h2>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @selection_process.place %>
</p>

<p>
  <strong>Duración:</strong>
  <%= @selection_process.duration %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @selection_process.start_date %>
</p>

<p>
  <strong>Fecha cierre:</strong>
  <%= @selection_process.end_date %>
</p>
<p>
  <strong>Tipo:</strong>
  <%= @selection_process.process_type_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @selection_process.state %>
</p>

<% if @selection_process.organizer %>
      <h3>Organiza:</h3>
      <ol class="organizer">    
         <%= render partial: "organizador"  %>
      </ol>
<% elsif current_user.is_admin?  %>
    <h3>Organiza:</h3>
    <ol class="organizer">
     <span>Proceso huerfano</span> 
    </ol>
<% end %>

<hr>
<div class="list-group"><!--Categorias-->
    <%= render partial: "categories/menu_categorias_proceso", object: @selection_process %> 
</div>


<hr>
<% if current_user && (current_user.is_admin? || current_user.is_organizer?) %>
<h3>Habilitar votaciones.</h3>
<%= link_to 'Abrir votaciones', edit_selection_process_path(@selection_process, cambiar_estado: "abrir"), :class => 'btn btn-link' %> | <%= link_to 'Cerrar votaciones', edit_selection_process_path(@selection_process, cambiar_estado: "cerrar"), :class => 'btn btn-link' %> 
<br>
<%= link_to 'Editar', edit_selection_process_path(@selection_process), :class => 'btn btn-link' %> |
<% end  %>
<%= link_to 'Atrás', :back, :class => 'btn btn-link btn glyphicon glyphicon-arrow-left' %>