<!--Lista de Categorías del Proceso seleccionado-->
<% unless @selection_process.category.nil? %>
 <p class="list-group-item active"><b>Categorías: <%= "#{@selection_process.name_process}"  %></b></p>
<div class="list-group">
<% @selection_process.category.each do |category| %>        
       <%= link_to selection_process_category_path(@selection_process, category), :class => "list-group-item" do %>
           <%= category.name %>
         	<% case 
				when category.candidate.size == category.bench %>
  					<span class="badge pull-right alert-success">
			<% 	when category.candidate.size < category.bench %>
  					<span class="badge pull-right alert-warning">
			<%  when category.candidate.size > category.bench %>
  					<span class="badge pull-right alert-danger">
			<%  else %>
  					<span class="badge pull-right alert-error"> %>
			<% end %>
           	<%= category.candidate.size %> / <%= category.bench %></span>
      <% end %>
<% end %>
<% if @selection_process.category[0].nil? && current_user.is_admin? || current_user.is_organizer? %>
<%= link_to ' Nueva Categoría ', new_selection_process_category_path(@selection_process), :class => 'btn btn-default btn glyphicon glyphicon-plus-sign list-group-item' %>
<% end %>
</div>
<% end %>