<h1>Lista de categorias</h1>

<div class="table-responsive">
  <table id="categories-list" class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Nro. de Plazas</th>
      <th>Nro. Proceso</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= tabla_sin_registros @categories %>  
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= category.bench %></td>
        <td><%= category.selection_process_id %></td>
      <% unless params[:selection_process_id].nil? %>
        <td><%= link_to ' Mostrar', selection_process_category_path(category.selection_process, category), :class => 'btn btn-default btn-xs btn glyphicon glyphicon-eye-open' %></td>
        <td><%= link_to ' Editar', edit_selection_process_category_path(category.selection_process, category), :class => 'btn btn-default btn-xs btn glyphicon glyphicon-pencil' %></td>
         <td><%= link_to ' Eliminar', category_path(category, selection_process_id: category.selection_process), :class => 'btn btn-danger btn-xs btn glyphicon glyphicon-trash active', :method => :delete, data: { confirm: "Esta seguro que desea borrar este usuario: #{category.name}?"} %></td>
        <% else %>
         <td><%= link_to ' Mostrar', category_path(category), :class => 'btn btn-default btn-xs btn glyphicon glyphicon-eye-open' %></td>
        <td><%= link_to ' Editar', edit_category_path(category), :class => 'btn btn-default btn-xs btn glyphicon glyphicon-pencil' %></td>
         <td><%= link_to ' Eliminar', category, :class => 'btn btn-danger btn-xs btn glyphicon glyphicon-trash active', :method => :delete, data: { confirm: "Esta seguro que desea borrar este usuario: #{category.name}?"} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_admin? || current_user.is_organizer? %>
  <% unless params[:selection_process_id].nil? %>
  <%= link_to 'Agregar Categoría', new_selection_process_category_path(params[:selection_process_id]), :class => 'btn btn-primary btn glyphicon glyphicon-plus'  %>
  <% else %>
  <%= link_to 'Agregar Categoría', new_category_path, :class => 'btn btn-primary btn glyphicon glyphicon-plus'  %>
  <% end %>
<% end %>