<h1>Lista de categorias</h1>

<div class="table-responsive">
  <table id="categories-list" class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Nro. de Plazas</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= category.bench %></td>
        <td><%= link_to ' Mostrar', category, :class => 'btn btn-default btn-xs btn glyphicon glyphicon-eye-open' %></td>
        <td><%= link_to ' Editar', edit_category_path(category), :class => 'btn btn-default btn-xs btn glyphicon glyphicon-pencil'  %></td>
        <td><%= link_to ' Eliminar', category, :class => 'btn btn-danger btn-xs btn glyphicon glyphicon-trash active', :method => :delete, data: { confirm: "Esta seguro que desea borrar este usuario: #{category.name}?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Categoria', new_category_path, :class => 'btn btn-primary btn glyphicon glyphicon-plus'  %>
