<p>
  <strong>Nombre:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Nro. de plazas:</strong>
  <%= @category.bench %>
</p>

<p class: 'control-label'>
  <strong>Proceso de selección:</strong>
  <%= @category.selection_process.name_process %>
</p>

<h3>Candidatos/Postulantes:</h3>
<div><!--Candidatos-->
    <%= render partial: "candidates/candidates_category", object: @category %> 
</div>

<%= link_to ' Editar', edit_selection_process_category_path(@category.selection_process, @category), :class => 'btn btn-link btn glyphicon glyphicon-pencil' %> |
<%= link_to ' Ir a categorias', selection_process_categories_path(@category.selection_process), :class => 'btn btn-link btn glyphicon glyphicon-list' %>

<% if @category.selection_process %>
      <h3>Procesos de selección:</h3>
      <ol class="user">    
         <%= render partial: "misprocesos"  %>
      </ol>
<% end %>