<p>
  <strong>Nombre:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Nro. de plazas:</strong>
  <%= @category.bench %>
</p>

<p class: 'control-label'>
  <strong>Proceso de selección:</strong>
  <%= @category.selection_process_id %>
</p>


<%= link_to 'Editar', edit_category_path(@category), :class => 'btn btn-link' %> |
<%= link_to 'Ir a categorias', categories_path, :class => 'btn btn-link' %>
