<p>
  <strong>Nombre:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Descripci칩n:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Nro. de plazas:</strong>
  <%= @category.bench %>
</p>

<p class: 'control-label'>
  <strong>Proceso de selecci칩n:</strong>
  <%= @category.selection_process.name_process %>
</p>

<h3>Candidatos/Postulantes:</h3>
<div><!--Candidatos-->
    <%= render "candidates/candidates_category", object: @category %>
</div>

<% if current_user.is_admin? || @selection_process.is_owner?(current_user.id) %>
<%= link_to ' Ir a candidatos', category_candidates_path(@category), :class => 'btn btn-link btn glyphicon glyphicon-list' %>

<%= link_to ' Editar', edit_selection_process_category_path(@category.selection_process, @category), :class => 'btn btn-link btn glyphicon glyphicon-pencil' %> |


<%= link_to ' Ir a categorias', selection_process_categories_path(@category.selection_process), :class => 'btn btn-link btn glyphicon glyphicon-list' %>

<% if @category.selection_process %>
      <h3>Procesos de selecci칩n:</h3>
      <ol class="user">    
         <%= render "misprocesos"  %>
      </ol>
<% end %>
<% end %>

<%= link_to 'Atr치s', :back, :class => 'btn btn-link btn glyphicon glyphicon-arrow-left' %>

<%= link_to " Volver a #{@category.selection_process.name_process} ", selection_process_path(@category.selection_process), :class => 'btn btn-link btn glyphicon glyphicon-arrow-left' %>