<!DOCTYPE html>
<html>
<head>
  <title>Vox</title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Esto es para darle Zoom desde el dispositivo móvil -->
</head>

<body>
  <div class="navbar navbar-inverse" role="navigation">
	 <div class="container">
	  <div class="navbar-header navbar-left">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">VOX:  <small>CMS para Procesos de Selección</small></a>
	  </div>
	  <div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav navbar-left">
          <%= render partial: "layouts/navbar_items" %>
	    </ul>
      
      <!--/Login -->
      <% if user_signed_in? %>
        <ul class="navbar-text navbar-right">
        <li class="active" title="Estas identificado como: <%= current_user.email %>">Identificado: <strong><%= current_user.email %></strong>.</li>
        <li><%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      <% else %>
          <%#= render partial: "layouts/login" %> 
      <% end %>
      <!--/login -->

	  </div><!--/.nav-collapse -->
	 </div><!-- /.container -->
  </div><!-- /.navbar -->

  <div class="container-fluid">
    <div class="row-fluid">
        <!-- Barra lateral -->
        <div class="col-xs-12 col-sm-4 col-md-3" id="sidebar">
           <!-- Sidebar content -->
           <%= render partial: "paginas/menu", object: @user %> 
        </div>

        <!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix visible-xs-block"></div>

        <!-- Contenido -->
        <div class="col-xs-12 col-sm-8 col-md-9">
             <%= flash_messages %> 
             <%= yield %>
        </div>
    </div>
  </div>

 <!-- Pie -->
 <hr>
   <footer class="bottom">
     <div class="container hidden-xs">
      <ul class="nav navbar-nav pull-left">
        <li><a href="https://github.com/matiasmasca/vox">Powered by VOX - 2014</a></li>
        <li><%= link_to 'Acerca de',  paginas_about_path %></li>
        <li><%= link_to 'Contacto',  paginas_contact_path %></li>
      </ul>

       <p class="navbar-text pull-center">Únete a <a href="http://www.comunidadtic.com.ar">ComunidadTIC</a><p/>
       <a href="https://twitter.com/matiasmasca" class="navbar-btn btn-info btn pull-right">@matiasmasca </a>
    </div>

    <div class="container visible-xs">
      <p class="navbar-text pull-left">Powered by VOX - 2014</p>
      <a href="https://github.com/matiasmasca/vox" class="navbar-btn btn-info btn pull-right">VOX</a>
    </div>
  </footer>



</body>
</html>
